@import './mixins';
@import './variables';

.header {
  padding: 0 25px;
  background-color: $dashboard-header-bg-color;
  z-index: 400;
  position: relative;
  height: $dashboard-header-height;
  @include clearfix;
}

.logo {
  float: left;
  margin-top: 15px;
  margin-right: 22px;
}

.leftToolbar {
  float: left;
  padding: 0 20px;
}

.rightToolbar {
  float: right;
  margin-top: 15px;
}

.profileImage {
  @include border-radius(50%);
  height: 100%;
  max-width: $button-height-md;
  max-height: $button-height-md;
}
.noAvatar {
  @include border-radius(50%);
  line-height: $button-height-md;
  height: $button-height-md;
  width: $button-height-md;
  background: $button-header-bg-color;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: $white;
  font-size: 12px;
}
.profileName {
  padding-left: 5px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.dashboardButton {
  vertical-align: bottom;
  margin: 0 6px;
}
