@import './mixins';
@import './variables';

$button-size:       38px;
$button-lg-size: 64px;

.headerButton, .formButton, .defaultButton, .linkButton, .submitButton {
  @include border-radius(4px);
  @include transition(color .15s, background-color .15s);
  cursor: pointer;
  position: relative;
  height: $button-size;
  padding: 1px 12px;
  &.iconOnly {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    padding: 1px;
  }
  &.loading {
    cursor: not-allowed;
    .children {display: none;}
  }
  &.block {
    display: block;
    width: 100%;
  }
  &:hover, &:focus, &:active:focus, &:active:hover {
    outline: none;
  }
}
:global {
  .btn-lg {
    height: $button-lg-size !important;
  }
}

.headerButton {
  border: none;
  background: $button-header-bg-color;
  color: $button-header-color;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  font-family: "roble_alt_boldbold";
  padding-left: 10px !important;
  &:hover, &:focus {
    opacity: 1;
    background-color: darken($button-header-bg-color, 5%);
    color: $button-header-color;
  }
  &[disabled] {
    opacity: .5;
  }
  &:active {
    &, &:hover, &:focus {
      background-color: lighten($button-header-bg-color, 5%);
      color: $button-header-color !important;
      outline: none;
    }
  }
}

.formButton {
  @include background-gradient($select-button-start-color, $select-button-end-color);
  color: $button-default-color;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  font-family: "roble_alt_boldbold";
  border-color: $select-button-border-color;
  &:hover, &:focus {
    background-color: darken($button-default-bg-color, 5%);
  }
  &[disabled] {
    opacity: .5;
  }
  &:active {
    &, &:hover, &:focus {
      outline: none;
    }
  }
  svg {
    fill: $text-light-color;
  }
}

.submitButton {
  background: $blue;
  border-color: $blue;
  color: #fff;
  font-family: "roble_alt_boldbold";
  &:focus {
    background: $blue;
    border-color: $blue;
    color: #fff;
  }
  &:hover {
    background-color: $button-header-bg-color;
    border-color: $button-header-bg-color;
    color: #fff;
  }
  &[disabled] {
    opacity: .5;
    &:hover, &:focus {
      background-color: $blue;
      border-color: $blue;
      color: #fff;
    }
  }
  &.loading {
    opacity: 1 !important;
    background: $blue !important;
    border-color: $blue !important;
  }
  &:active {
    &, &:hover, &:focus {
      outline: none;
    }
  }
}

.defaultButton {
  background-color: $button-default-bg-color;
  color: $button-default-color;
  font-family: "roble_alt_boldbold";
  font-size: 13px;
  line-height: 1;
  border: none !important;
  &:hover, &:focus {
    background-color: darken($button-default-bg-color, 5%);
  }
  &[disabled] {
    opacity: .5;
    background-color: $button-default-bg-color !important;
  }
  &:active {
    &, &:hover, &:focus {
      outline: none;
    }
  }
}

.linkButton {
  background: none;
  border: none;
  &:hover, &:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  &:active {
    background-color: transparent !important;
    @include box-shadow-custom(none);
  }
}

.notificationCounter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  @include border-radius(50%);
  border: none;
  background-color: $highlight-color;
  text-align: center;
  color: #fff;
}
