@import './mixins';
@import './variables';

$frontend-bg-start-color:       #ffffff;
$frontend-bg-end-color:         #f4f5f8;

div {
  box-sizing: border-box;
}
.pullLeft {
  float: left;
}
.selectWrapper {
  position: relative;
  max-width: 200px;
  color: $text-dark-color;
  font-family: 'Open Sans';
}
.selectLabel {
  display: inline-block;
  padding: 10px;
  width: 100%;
  background-color: #ddd;
  border: 1px solid $border-color;
  cursor: pointer;
  @include border-radius(4px);
  @include background-gradient($frontend-bg-start-color, $frontend-bg-end-color);
  
}
.isOpen .selectLabel {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.selectValue {
  padding:0 20px 0 4px;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectCaret {
  position: absolute;
  right: 10px;
  top: 0;
  line-height: 40px;
}
.selectOptionsWrapper {
  width: 100%;
  display: none;
  position: absolute;
  z-index: 2000;
  top: 100%;
  left: 0;
  background-color: $white;
  border: 1px solid $border-color;
  border-top-width: 0;
  @include border-radius(4px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.isOpen .selectOptionsWrapper {
  display: inline-block;
}
.selectOptions {
  list-style: none;
  margin: 0;
  padding: 0
}
.selectOption {
  height: 40px;
  line-height: 42px;
  margin: 0 10px;
  @include border-radius(4px);
  cursor: pointer;
  &:hover {
    color: $blue;
    background-color: #F9FAFC;
  }
}
.selectOption.isSelected {
  font-weight: bold;
}
.selectOptionContent {
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
}