@import './mixins';
@import './variables';

.content {
  padding-top: 30px;
}

.identityVerification {
  @include background-gradient(#ffffff, #f4f5f8);
  height: 100%;
  overflow: auto;
  font-family: 'Lato', sans-serif;
}
