@import './mixins';
@import './variables';

.dashboard {
  height: 100%;
}

.contentWrapper {
  @include media('>=md') {
    height: calc(100% - 96px);
  }
  background-color: $dashboard-bg-color;
  padding: 30px 0 50px;
}
