@import './mixins';
@import './variables';

.dashboard {
  min-height: 100%;
  background-color: $dashboard-bg-color;
}

.contentWrapper {
  padding: 30px 0 50px 15px;
  height: calc(100% - #{$dashboard-header-height + $dashboard-tabs-height});
}
