@import './mixins';
@import './variables';

.footerWrapper {
  &:not(:first-child) {
    margin-top: 20px;
  }
}

.submitButton {
  font-size: 16px;
  background-color: $identity-submit-btn-color;
  height: 48px;
  padding: 10px 25px;
  border: none;
  outline: none;
  @include transition(all .1s);
}

.cancelLink {
  margin-top: 10px;
  text-decoration: underline;
  color: $frontend-text-color1;
  opacity: .5;
  @include transition(all .1s);
  font-size: 16px;
  display: inline-block;
  &:hover {
    text-decoration: none;
    opacity: .7;
  }
}

.termsLink {
  color: black;
  opacity: .6;
  text-decoration: underline;
  &:hover, &:focus {
    opacity: .8;
    color: black;
    text-decoration: none;
  }
}

.termsConditions {
  font-size: 11px;
}

.termsSection {
  padding-bottom: 20px;
  border-bottom: 1px solid $identity-separator-color;
}
.footer {
  padding: 25px 0;
}