@import './mixins';
@import './variables';

.elementsListView {
  height: 100%;
}
.elementsListViewInner {
  overflow: auto;
  background-color: $panel-body-bg-color;
  @include border-radius(4px);
  border: 1px solid $panel-border-color;
  @include box-shadow-custom(0 3px 5px rgba(0, 0, 0, .1));
}
.panelRow {
  margin-left: -5px;
  margin-right: -5px;
}
.panelCol {
  padding: 0 5px 10px;
}

.panelWrapper {
  overflow: hidden;
  &:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.panelHeader {
  padding: 15px;
  display: block;
  cursor: pointer;
  position: relative;
  text-decoration: none !important;
  background-color: $panel-heading-bg-color;
  border-bottom: 1px solid $panel-border-color;
  &:hover {
    background-color: darken($panel-heading-bg-color, 2%);
  }
  &.expanded {
    .headerArrow svg {
      transform: rotate(180deg);
    }
  }
}

.panel {
  background-color: $panel-body-bg-color;
  margin: 0 !important;
  border: none !important;
  @include border-radius(0);
  border-bottom: 1px solid $panel-border-color !important;
}

.headerArrow {
  @include vcenter;
  right: 15px;
  svg {
    @include transition(all .2s);
  }
}

.inputTypeLabel {
  font-family: 'Open Sans';
}