@import '../../../styles/mixins';
@import '../../../styles/variables';

.dateInput {
  padding: 15px;
  border: 1px solid $text-border-color;
  @include border-radius($input-border-radius);
  background: $text-bg-color;
  font-size: 20px;
  display: block;
  width: 100%;
  height: 64px;
  color: $text-dark-color;
  -webkit-text-fill-color: $text-dark-color;
  &[disabled] {
    opacity: .5;
  }
  &:hover, &:focus {
    border: 1px solid $text-hover-border-color;
    outline: none;
  }
}