@import './mixins';
@import './variables';

.dateInputWrap {
  font-size: 20px;
  @include media('>=sm') {
    font-size: 24px;
  }
  font-family: 'Lato';
  font-weight: 400;
  line-height: 1.5em;
  color: $cf-input-text-color;
  position: relative;
  padding: 0.5em 0;
  display: inline-block;
}
.dateInput {
  padding: 15px;
  border: 1px solid $cf-input-border-color;
  @include border-radius($input-border-radius);
  background: $white;
  font-size: 20px;
  display: block;
  width: 100%;
  height: $input-height-lg;
  color: $cf-input-text-color;
  -webkit-text-fill-color: $cf-input-text-color;
  &[disabled] {
    opacity: .5;
  }
  &:hover, &:focus {
    outline: none;
  }
  &:placeholder-shown {
    color: $cf-input-placeholder-color;
    font-weight: 300;
    opacity: 1 !important;
  }
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    color: $cf-input-placeholder-color;
    font-weight: 300;
    opacity: 1 !important;
  }
}

.dateInputError input {
  border-color: $cf-error-color;
}
.errorIconWrapper {
  display: inline;
  cursor: pointer;
  color: $cf-error-color;
  position: absolute;
  right: 1em;
  top: 1em;
}
.hide {
  display: none;
}
.errorTip {
  @include hcenter;
  line-height: 1em;
  font-size: 0.6em;
}
.errorTipInner {
  position: relative;
  top: 7px;
  padding: 1.5em;
  color: $white;
  white-space: nowrap;
  background-color: $cf-error-color;
  @include border-radius(0.4em);
}
.errorTipArrow {
  position: absolute;
  top: 2px;
  left: 50%;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: $cf-error-color;
}

:global {
  .dateInputTooltip {
    font-size: 14px;
    font-family: 'Lato';
    .tooltip-arrow {
      height: 0;
    }
    &.bottom .tooltip-arrow {
      border-bottom-color: $cf-error-color;
    }
    &.tooltip.in {
      opacity: 1;
    }
    .tooltip-inner {
      text-align: left;
      background-color: $cf-error-color;
      padding: 0.7em 2em;
      max-width: 300px;
    }
  }
}
