@import './mixins';
@import './variables';

.signatureModal {
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
}
.signatureModalTitle {
  font-size: 16px;
  font-weight: 600;
  padding: 0 25px;
  letter-spacing: 1px;
}
.signatureModalWrapper {
  padding: 20px 40px;
}
.header {
  padding: 20px 35px;
  font-weight: 600;
}
.infoSection {
  margin-bottom: 18px;
}
.info {
  line-height: 3.5em;
  font-weight: 400;
  color: $signature-modal-info-color;
}
.signatureInput {
  font-size: 14px;
}
.signaturePadWrapper {
  @include user-select(none);
  padding: 20px 0;
  &:focus {
    outline: none;
  }
}
.signatureModalConsent {
  background-color: $signature-modal-bg-color;
  .consentTitle {
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0;
    line-height: 24px;
    height: 24px;
  }
  .consentStatement {
    color: $signature-modal-text-light-color;
    font-size: 10px;
    font-weight: 400;
  }
  .checkbox {
    font-size: 30px;
  }
}
.signatureImage {
  max-height: 324px;
  min-width: 432px;
  &:focus {
    outline: none;
  }
}
.tabIcon {
  height: 13px;
  vertical-align: bottom;
  margin-bottom: 3px;
  margin-right: 6px;
}
.tabPanelWrapper {
  height: 275px;
  padding: 18px 16px;
  &:focus {
    outline: none;
  }
}
.writePanelWrapper {
  overflow-y: auto;
  padding-bottom: 0;
}
.drawPanelWrapper {
  padding: 10px 16px;
}
.drawPanelButtons {
  margin-bottom: 0px;
}
.tabPanelTitle {
  margin-bottom: 12px;
}
.signaturePanelWrapper {
  margin-bottom: 10px;
  padding: 0;
}
.signaturePanelLeft {
  padding-right: 5px;
}
.signaturePanelRight {
  padding-left: 5px;
}
.signaturePanel {
  position: relative;
  height: 126px;
  box-shadow: inset 0px 0px 24px 10px $white;
  @include border-radius(4px);
  @include input-box-shadow;
  border: 1px solid $border-color;
  cursor: pointer;
  background-color: $white;
}
.activeSignature {
  border: 2px solid $dashboard-header-bg-color;
  .signaturePadColourSelection {
    visibility: visible;
  }
}
.signatureTypeLabel {
  text-align: center;
  padding: 8px 0;
}
.signaturePadColourSelection {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  .colourSelection {
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 4px;
    background-color: $black;
    @include border-radius(20px);
    border: 3px solid $white;
    &.colourRed {
      background-color: $red;
    }
    &.colourBlue {
      background-color: $blue;
    }
    &.activeColour {
      border-color: #97CAE9;
    }
  }
}
.fileUploadSection {
  width: 100%;
  height: 100%;
}
.signatureModalFooter {
  background-color: $signature-modal-bg-color;
}
.cancelButton {
  font-size: 16px;
  float: left;
  padding: 6px 0;
  color: $signature-modal-text-light-color;
  text-decoration: underline;
  &:active, &:focus {
    outline: 0;
  }
  &:hover {
    color: $signature-modal-text-light-color;
  }
}
:global {
  .nav-tabs{
    border-bottom: none;
    > li{
      >a{
        border-bottom: none;
        font-size: 13px;
        color: rgba(56,147,208,0.5);
        &:hover, &:focus {
          border-color: $signature-modal-border-color;
          background-color: $signature-modal-bg-color;
        }
      }
      &.active {
        >a {
          color: $signature-modal-tab-color;
          border-color: $signature-modal-border-color;
          background-color: $signature-modal-bg-color;
          border-bottom: none;
          &:hover, &:focus {
            color: $signature-modal-tab-color;
            background-color: $signature-modal-bg-color;
            border-color: $signature-modal-border-color;
            border-bottom: none;
          }
        }
      }
    }
  }
  #SignatureTabs {
    margin-bottom: 8px;
  }
  .tab-content {
    @include border-radius(5px);
    border: 1px solid $signature-modal-border-color;
    background-color: $signature-modal-bg-color;
  }
  .activeTab {
    &:focus {
      outline: none;
    }
  }
  .activeTab .tab-content{
    @include border-radius-separate(0px);
  }
  .signature-font-preload {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }
  .preload-steve {
    font-family: steve;
  }
  .preload-lincoln {
    font-family: lincoln;
  }
  .preload-swift {
    font-family: swift;
  }
  .preload-MayQueen {
    font-family: MayQueen;
  }
  .preload-ArtySignature {
    font-family: ArtySignature;
  }
  .preload-MonsieurLaDoulaise {
    font-family: MonsieurLaDoulaise;
  }

  .m-signature-pad {
    position: relative;
    font-size: 10px;
    height: 218px;
    border-radius: 4px;
    background-color: $white;
    border: 1px solid $signature-modal-border-color;
  }


  .m-signature-pad--body {
    width: 100%;
    height: 100%;
  }

  .m-signature-pad--body
    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

  @media screen and (max-width: 1024px) {

  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .m-signature-pad {
      margin: 10%;
    }
  }

  @media screen and (max-height: 320px) {
    .m-signature-pad--body {
      left: 0;
      right: 0;
      top: 0;
      bottom: 32px;
    }
    .m-signature-pad--footer {
      left: 20px;
      right: 20px;
      bottom: 4px;
      height: 28px;
    }
    .m-signature-pad--footer
      .description {
        font-size: 1em;
        margin-top: 1em;
      }
  }
}