@import './mixins';
@import './variables';

.questionRichTextEditor {
  @include clearfix;
}

.editWidget {
  width: 100%;
  float: left;
  background-color: #fff;
  letter-spacing: 1px;
  border: solid 1px #c7c7c7;
  padding: 10px;
}

.block {
  display: inline-block;
  background: #bfe0f7;
  padding: 3px 10px;
  border-radius: 3px;
  border: solid 1px;
}

.toolbar {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
}

.inputWidget {
  display: table-cell;
  width: 45%;
  padding: 0px 5px 0 0;
  vertical-align: middle;
}

.styleWidget {
  display: table-cell;
  width: 45px;
  vertical-align: middle;
}

.answersDropdown {
  display: block;
}

.dropdownAnswerButton {
  display: block;
  width: 100%;
  float: none;
}

.squareButton {
  width: 20px;
  padding-left: 0;
  padding-right: 0;
}