@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.learnMoreSection {
  width: 230px;
  padding: 10px;
  float: right;
  position: absolute;
  right: 0;
  z-index: 1;
  text-align: center;
  color: $text-color;
}