@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.formPreviewSection {
  background-color: #fefefe;
  position: relative;
  background-color: $bg-color1;
  padding-left: $preview-left-padding;
  .formSectionInner {
    padding-right: 15px;
    padding-top: ($step-circle-active-size - $step-circle-size) / 2 + $section-active-v-padding;
    @include clearfix;
  }
  .formSectionTitle {
    color: $text-color;
    text-transform: uppercase;
  }
}
.formSectionTitle {
  color: $text-dark-color;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
