@import './mixins';
@import './variables';

.writePanelWrapper {
  position: relative;
  overflow-y: auto;
  padding-bottom: 0;
}
.tabPanelTitle {
  line-height: 18px;
  margin-bottom: 12px;
}

.signaturePanelWrapper {
  padding: 0;
}
.signaturePanelLeft {
  padding-right: 5px;
}
.signaturePanelRight {
  padding-left: 5px;
}
.signaturePanel {
  position: relative;
  height: 100px;
  box-shadow: inset 0px 0px 24px 10px $white;
  @include border-radius(4px);
  @include input-box-shadow;
  border: 1px solid $border-color;
  cursor: pointer;
  background-color: $white;
  padding: 0 10px;
}
.signaturePanelCanvas {
  width: 100%;
  height: 100%;
}

.signatureTypeLabel {
  font-size: 30px;
  text-align: center;
  padding: 0;
}
.signaturePadColourSelection {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 15px;
  left: 50%;
  margin-left: -42px;
  text-align: center;
  .colourSelection {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 4px;
    background-color: $black;
    @include border-radius(50%);
    border: 3px solid $signature-modal-bg-color;
    &.colour-red {
      background-color: $red;
    }
    &.colour-blue {
      background-color: $blue;
    }
    &.activeColour {
      border-color: #97CAE9;
    }
  }
}
.activeSignature {
  border: 2px solid $dashboard-header-bg-color;
}

:global {
  .signature-font-preload {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }
  .preload-Steve {
    font-family: 'Steve';
  }
  .preload-Lincoln {
    font-family: 'Lincoln';
  }
  .preload-Swift {
    font-family: 'Swift';
  }
  .preload-Trump {
    font-family: 'Trump';
  }
  .preload-Obama {
    font-family: 'Obama';
  }
  .preload-Clinton {
    font-family: 'Clinton';
  }
}
