@import './mixins';
@import './variables';

.writePanelWrapper {
  position: relative;
  overflow-y: auto;
  padding-bottom: 0;
}
.nameInputWrapper {
  width: 50%;
  float: left;
}
.colourPicker {
  float: right;
  height: 50px;
  line-height: 50px;
}
.signaturePanelWrapper {
  padding: 0;
  margin: 10px 0;
}
.signaturePanelLeft {
  padding-right: 5px;
}
.signaturePanelRight {
  padding-left: 5px;
}
.signaturePanel {
  position: relative;
  height: 130px;
  box-shadow: inset 0px 0px 24px 10px $white;
  overflow: hidden;
  @include border-radius(4px);
  @include input-box-shadow;
  border: 1px solid $border-color;
  cursor: pointer;
  background-color: $white;
}
.signatureCanvasWrapper {
  float: left;
  height: 100px;
  width: 100%;
}
.signaturePanelCanvas {
  width: 100%;
  height: 100%;
}

.signatureTypeWrapper {
  float: left;
  width: 100%; 
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;  
  color: $cf-input-placeholder-color;;
  background-color: $signature-modal-bg-color;
}
.signatureTypeLabel {
  float: right;
  font-size: 25px;
}

.activeSignature {
  border: 2px solid $dashboard-header-bg-color;
}

:global {
  .signature-font-preload {
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }
  .preload-Steve {
    font-family: 'Steve';
  }
  .preload-Lincoln {
    font-family: 'Lincoln';
  }
  .preload-Swift {
    font-family: 'Swift';
  }
  .preload-Trump {
    font-family: 'Trump';
  }
  .preload-Obama {
    font-family: 'Obama';
  }
  .preload-Clinton {
    font-family: 'Clinton';
  }
}
