@import './mixins';
@import './variables';

.filterContainer {
  padding: 14px;
}
.formButton {
  float: left;
  margin-left: 13px;
  height: 39px !important;
}
.buttonIcon {
  margin-right: 9px;
  vertical-align: middle;
}
.createButton {
  font-family: $button-font-family;
}
