{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false,
    "API_URL": false,
    "FRONTEND_ROOT": false,
    "google": false,
    "GOOGLE_MAP_API_KEY": false
  },
  "rules": {
    "import/default": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-named-as-default": 0,
    "max-len": [2, 120, 2],
    "semi" : [2, "always"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "space-infix-ops": 0,
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1,
    "jsx-quotes": [2, "prefer-double"],
    "react/self-closing-comp": 0
  }
}