.text-input {
  padding: 4px 15px;
  border: 1px solid #A9A9A9;
  border-radius: 4px;
  font-size: 20px;
  height: 54px;
  width: 389px;
  background: #F8F8F8;
}

.text-input:hover, .text-input:active, .text-input:focus {
  border: 1px solid #A3A3A3;
  outline: none;
}