@import './mixins';
@import './variables';

.choicesContainer {
  width: 100%;
  overflow: hidden;
  &:focus {
    outline: none;
  }
}
.choicesRow {
  // margin: 0 -10px;
}
.choiceItem {
  border: 1px solid $choice-border-color;
  @include input-box-shadow;
  background-color: $choice-bg-color;
  @include border-radius($input-border-radius);
  position: relative;
  padding: 12px 12px 12px 70px;
  cursor: pointer;
  display: inline-block;
  margin: 0 18px 20px 2px;
  @include transition(background-color .1s);
  &:hover, &:focus {
    background-color: darken($choice-bg-color, 2%);
    outline: none;
  }
  > .label {
    text-transform: uppercase;
    @include border-radius($input-border-radius);
    @include input-box-shadow;  /* eMonDoHaCk */
    border: 1px solid $choice-border-color;
    background-color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    @include vcenter;
    left: 12px;
  }
  > .text {
    font-size: 24px;
    font-weight: 400;
    display: block;
  }
  &.active {
    border-width: 2px;
    // adjust for increased border width
    padding: 11px 11px 11px 69px;
    > .label {
      left: 11px;
    }
  }
  &.disabled {
    cursor: default;
    opacity: .5;
  }
}
