@import './mixins';
@import './variables';

.formEnterButton {
  border: 0;
  color: $white !important;
  background: $button-color;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  padding: 13px;
  &:hover, &:focus {
    &:before {
      opacity: .2;
    }
  }
  &[disabled] {
    opacity: .5;
  }
  &:active:focus, &:focus {
    outline: none;
  }
}

.btnDefaultInner {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.noIcon {
  padding: 17px 26px;
  font-weight: bold;
}
.btnIcon {
  display: inline;
  padding-right: 9px;
  vertical-align: middle;
  padding-top: 4px;
}