@import './mixins';
@import './variables';

.formEnterButton {
  border: none;
  color: white !important;
  background: $button-color;
  border-radius: 4px;
  cursor: pointer;
  height: 65px;
  width: 110px;
  position: relative;
  line-height: 18px;
  font-size: 14px;
  padding: 0 5px;
  &:before {
    @include transition(all .15s);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0;
  }
  &:hover, &:focus {
    &:before {
      opacity: .2;
    }
  }
  &[disabled] {
    opacity: .5;
  }
  &:active:focus, &:focus {
    outline: none;
  }
}

.btnDefaultInner {
  text-align: left;
  margin-left: 45px;
}

.btnInner {
  font-size: 16px;
  padding-right: 12px;
  margin-left: 45px;
}

.btnIcon {
  @include vcenter;
  margin-top: 3px;
  left: 12px;
}