@import './mixins';
@import './variables';

$box-text-color: $blue;
$box-border-color: $blue;
$box-bg-color: $blue;
$handle-size: 12px;

.interactWrapper {
  width: 100px;
  height: 50px;
  position: absolute;
  color: white;
  font-weight: 600;
  &:before, &:after {
    @include full-size;
    content: '';
  }
  &:before {
    background-color: $box-bg-color;
  }
  &:after {
    pointer-events: none;
  }
  &:hover, &:focus {
    &:after {
      border: 1px dashed white;
    }
  }
  &.active {
    color: $box-text-color;
    &:before {
      opacity: .15;
    }
    &:after {
      border: 1px dashed $box-border-color;
    }
    &:hover, &:focus {
      &:before {
        opacity: .2;
      }
    }
    z-index: 999;
  }
}

.innerContent {
  overflow: hidden;
  @include full-size;
  cursor: pointer;
}

.active {
  .innerContent {
    cursor: move;
  }
  .handleLeft {
    position: absolute;
    width: $handle-size;
    left: -($handle-size / 3);
    top: ($handle-size * 2 / 3);
    bottom: ($handle-size * 2 / 3);
    cursor: ew-resize;
  }
  .handleRight {
    position: absolute;
    width: $handle-size;
    right: -($handle-size / 3);
    top: ($handle-size * 2 / 3);
    bottom: ($handle-size * 2 / 3);
    cursor: ew-resize;
  }
  .handleTop {
    position: absolute;
    height: $handle-size;
    top: -($handle-size / 3);
    left: ($handle-size * 2 / 3);
    right: ($handle-size * 2 / 3);
    cursor: ns-resize;
  }
  .handleBottom {
    position: absolute;
    height: $handle-size;
    bottom: -($handle-size / 3);
    left: ($handle-size * 2 / 3);
    right: ($handle-size * 2 / 3);
    cursor: ns-resize;
  }

  .handleBottomLeft,
  .handleTopLeft,
  .handleTopRight,
  .handleBottomRight {
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    &:before {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: $box-border-color;
    }
  }

  .handleBottomLeft {
    bottom: -($handle-size / 3);
    left: -($handle-size / 3);
    cursor: nesw-resize;
    &:before {
      bottom: ($handle-size / 3) - 1px;
      left: ($handle-size / 3) - 1px;
    }
  }
  .handleTopLeft {
    top: -($handle-size / 3);
    left: -($handle-size / 3);
    cursor: nwse-resize;
    &:before {
      left: ($handle-size / 3) - 1px;
      top: ($handle-size / 3) - 1px;
    }
  }
  .handleTopRight {
    top: -($handle-size / 3);
    right: -($handle-size / 3);
    cursor: nesw-resize;
    &:before {
      top: ($handle-size / 3) - 1px;
      right: ($handle-size / 3) - 1px;
    }
  }
  .handleBottomRight {
    bottom: -($handle-size / 3);
    right: -($handle-size / 3);
    cursor: nwse-resize;
    &:before {
      bottom: ($handle-size / 3) - 1px;
      right: ($handle-size / 3) - 1px;
    }
  }
}
