@import './mixins';
@import './variables';

.questionEditView {
  padding: $builder-left-panel-padding;
}
.topActionButtons {
  margin: 0px (-$builder-left-panel-padding + 10px);
  @include clearfix;
}
.viewTitle {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0 5px;
}
.separator {
  margin: 0 (-$builder-left-panel-padding);
  border-color: $question-edit-separator-color;
}

.textEditorWrapper {
  width: 100%;
  padding-top: 10px;
}

.bottomActionButtons {
  margin: 10px (-$builder-left-panel-padding + 10px);
}