@import './mixins';
@import './variables';

.settingsNavMenu {
  margin-left: 40px;
  font-family: 'roble_altregular';
  > .menuList {
    background-color: $white;
    padding: 0;
    list-style: none;
    border: 1px solid $table-border-color;
    @include border-radius(4px);
    overflow: hidden;
    > .menuListItem {
      white-space: nowrap;
      padding-left: 20px;
      border-bottom: 1px solid $table-border-color;
      &:last-child{
        border-bottom: none;
      }
      a {
        color: $dropdown-caret-color;
        display: block;
        height: 50px;
        text-decoration: none;        
        > span{
          padding: 0 0 0 20px;
          line-height: 50px;
          font-size: 14px;
          font-weight: 600;
        }
      }
      a.menuListItemActive {      
        border-right: 4px solid $blue;
        color: $blue;
      }
    }
  }
}