@import './mixins';
@import './variables';

$button-size:       38px;

.button {
  position: relative;
  @include border-radius(4px);
  border: 1px solid transparent;
  padding: 0 1em;
  cursor: pointer;
  color: $white;
  font-family: $button-font-family;
  padding-top: 0;
  padding-bottom: 0;
  &:focus {
    outline: none;
  }
}
.sm {
  min-width: 48px;
  height: 24px;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}
.md {
  min-width: 72px;
  height: 36px;
  border-width: 2px;
  line-height: 36px;
  font-size: 14px;
}
.lg {
  min-width: 128px;
  height: 64px;
  border-width: 3px;
  font-size: 20px;
  line-height: 64px;
}

.secondary {
  border-color: #d1d4d9;
  color: #848c98;
  background: $white;
  &:hover {
    border-color: #b3b6be;
    background: #d1d4d9;
  }
}
.additional {
  border-color: #d3dfe6;
  color: #333c48;
  background: $white;
  &:hover {
    background: #ecf1f5;
  }
}
.hidden {
  visibility: hidden;
}
.buttonContent {
  text-align: center;
}
.spinnerWrap{
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 3; 
}
