@import './mixins';
@import './variables';

.button {
  position: relative;
  @include border-radius(5px);
  border: 1px solid transparent;
  cursor: pointer;
  color: $white;
  background-color: $blue;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.42857;
  &:focus {
    outline: none;
  }
  &.block {
    display: block;
    width: 100%;
  }
  &.isDisabled {
    cursor: not-allowed;
    opacity: .5;
  }
  &:active:focus {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }
}

.sm {
  padding: 0 10px;
  height: $button-height-sm;
  font-size: 12px;
}

.md {
  padding: 0 16px;
  height: $button-height-md;
  border-width: 2px;
  font-size: 14px;
}

.lg {
  padding: 0 22px;
  height: $button-height-lg;
  border-width: 3px;
  font-size: 20px;
}

.primary {
  .loader {
    background: -moz-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 42%);
    background: -webkit-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 42%);
    background: -o-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 42%);
    background: -ms-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 42%);
    background: linear-gradient(to right, $white 10%, rgba(131,139,151, 0) 42%);
  }
  .loader:before {
    background: $white;
  }
}

.secondary {
  border-color: #dadce0;
  color: #848c98;
  background-color: $white;
  &:hover, &:active {
    background-color: #dadce0;
  }
}

.additional {
  border-color: #d3dfe6;
  color: #333c48;
  background-color: $white;
  &:hover {
    background-color: #ecf1f5;
  }
}

.isBusy:hover {
  background-color: $white;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.loader {
  text-indent: -9999em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #838b97;
  background: -moz-linear-gradient(left, #ccc 30%, rgba(131,139,151, 0) 72%);
  background: -webkit-linear-gradient(left, #ccc 30%, rgba(131,139,151, 0) 72%);
  background: -o-linear-gradient(left, #ccc 30%, rgba(131,139,151, 0) 72%);
  background: -ms-linear-gradient(left, #ccc 30%, rgba(131,139,151, 0) 72%);
  background: linear-gradient(to right, #ccc 30%, rgba(131,139,151, 0) 72%);
  position: relative;
  @include transform(translateZ(0));
  @include animation(load3 1.4s infinite linear);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #ccc;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader-after {
  background: $white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@include keyframes (load3) {
  0% {
    @include rotate(0);
  }
  100% {
    @include rotate(360);
  }
}
