@import './mixins';     /* eMonDoHaCk */
@import './variables';  /* eMonDoHaCk */

:global {
  .dropdownWrapper {
    height: 64px;
    overflow-y: hidden;
    outline: none !important;
    &:hover, &:focus, &:active {
      .Dropdown-control {
        background-color: darken($cf-input-bg-color, 2%);
      }
      .Dropdown-arrow:after {
        border-top-color: darken($cf-input-bg-color, 2%);
      }
    }
  }
  .Dropdown-root {
    position: absolute;
    font-size: 23px;  /* eMonDoHaCk */
    font-family: "Lato"; /* eMonDoHaCk */
    width: 100%; /* eMonDoHaCk */
    @include media('>sm') { /* eMonDoHaCk */
      width: 500px;
    }
    @include media('>md') { /* eMonDoHaCk */
      width: 580px;
    }
    cursor: pointer;  /* eMonDoHaCk */
  }

  .Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: $cf-input-bg-color; /* eMonDoHaCk */
    /* eMonDoHaCk */
    border: 1px solid $cf-input-border-color;
    /* eMonDoHaCk */
    @include border-radius(5px);
    box-sizing: border-box;
    color: $cf-input-text-color; /* eMonDoHaCk */
    cursor: pointer;        /* eMonDoHaCk */
    outline: none;
    line-height: 1.2em; /* eMonDoHaCk */
    height: $input-height-lg;
    padding: 0.8em 3em 0.8em 1em; /* eMonDoHaCk */
    @include transition(background-color .1s);
    @include input-box-shadow;  /* eMonDoHaCk */
  }
  /* eMonDoHaCk */
  .Dropdown-placeholder {
    min-height: 1em;      /* eMonDoHaCk */
    overflow: hidden;     /* eMonDoHaCk */
    white-space: nowrap;  /* eMonDoHaCk */
  }
  .dropdownIsEmpty .Dropdown-placeholder {
    color: $cf-input-placeholder-color;
    font-weight: 300;
  }

  .Dropdown-arrow {
    position: absolute;
    right: 1.5em;
    @include vcenter; /* eMonDoHaCk */
    width: 0
  }
  .Dropdown-arrow:before {
    /* eMonDoHaCk */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 6px solid $dropdown-caret-color;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  .Dropdown-arrow:after {
    /* eMonDoHaCk */
    content: '';
    position: absolute;
    left: 2px;
    top: 0;
    border-top: 4px solid $cf-input-bg-color;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  /* eMonDoHaCk */
  .is-open .Dropdown-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .is-open .Dropdown-menu {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .Dropdown-menu {
    background-color: white;
    border: 1px solid $cf-input-border-color; /* eMonDoHaCk */
    /* eMonDoHaCk */
    box-shadow: 0 2px 2px -1px #b4bdc6; /* eMonDoHaCk */
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 215px; /* eMonDoHaCk */
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;   /* eMonDoHaCk */
    white-space: nowrap;  /* eMonDoHaCk */
  }

  .Dropdown-menu .Dropdown-group > .Dropdown-title{
    padding: 8px 10px;
    color: rgba(51, 51, 51, 1);
    font-weight: bold;
    text-transform: capitalize;
  }

  .Dropdown-option {
    box-sizing: border-box;
    color: $cf-input-text-color; /* eMonDoHaCk */
    cursor: pointer;
    display: block;
    line-height: 1em;     /* eMonDoHaCk */
    padding: 0.65em 1em;  /* eMonDoHaCk */
    border-bottom: 1px solid $cf-input-border-color; /* eMonDoHaCk */
    min-height: 2.3em; /* eMonDoHaCk */
  }

  .Dropdown-option:last-child {
    border-bottom: none; /* eMonDoHaCk */
  }

  .Dropdown-option:hover {
    background-color: $cf-input-bg-color;
  }

  .Dropdown-option.is-selected {
    background-color: $cf-input-bg-color;
  }

  .Dropdown-noresults {
    box-sizing: border-box;
    color: $cf-input-text-color;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
}
