@import './mixins';
@import './variables';

$panel-bg-color: #ECF4FB;
$panel-border-color: #086DB6;

.formBuilderContainer {
  min-height: 100%;
  color: $dashboard-text-color;
  @include media('>=md') {
    height: 100%;
  }
}

.leftPanel {
  @include media('>=md') {
    height: 100%;
  }
}
.rightPanel {
  @include media('>=md') {
    height: 100%;
  }
}