@import './mixins';
@import './variables';

$panel-bg-color: #ECF4FB;
$panel-border-color: #086DB6;

.formBuilderContainer {
  min-height: 100%;
  color: $dashboard-text-color;
  height: 100%;
  position: relative;
}
.fieldsSelectorHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
}
.leftPanel {
  width: 360px;
  position: relative;
  height: 100%;

}
.rightPanel {
  height: 100%;
  position: absolute;
  left: 390px;
  top: 0;
  right: 0;
}