@import './mixins';
@import './variables';

$page-border-color: #ddd;
$page-bg-color: #ededed;

$toolbutton-border-color: #dadada;
$page-toolbar-bg-color: #f4f4f4;

.pageView {
  height: 100%;
  position: relative;
  @include border-radius(4px);
  // background-color: $page-bg-color;
  @include box-shadow-custom(0 3px 5px rgba(0, 0, 0, .1));
  &:hover {
    .toolBox {
      opacity: 1;
    }
  }
}

.clientArea {
  position: relative;
  overflow: auto;
  height: 100%;
  &:before {
    content: '';
    display: table;
  }
}
.clientAreaInner {
  // padding: 5px;
  position: relative;
  display: inline-block;
}
.spacer {
  &:before {
    display: table;
    content: '';
  }
}
.pagesWrapper {
  margin: 0 auto;
  position: relative;
}
.page {
  margin: 5px 0;
  position: relative;
  &:before {
    content: '';
    @include full-size;
    border: 1px solid $page-border-color;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.pageImage {
  width: 100%;
  height: auto;
  @include user-drag(none);
}

.toolBox {
  @include hcenter;
  bottom: 60px;
  background-color: rgba(31, 31, 31, 0.58);
  padding: 10px;
  position: absolute;
  z-index: 200;
  display: inline-block;
  opacity: 0;
  vertical-align: middle;
  @include transition(all .15s);
}
.zoomButton {
  @include border-radius(50%);
  width: 24px;
  height: 24px;
  color: $white;
  padding: 0;
  margin: 0 10px;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  border: 2px solid $toolbutton-border-color;
  &:active, &:focus {
    outline: none;
  }
}
