@import './mixins';
@import './variables';
.tableWrapper {
  position: relative;
}

.resultsTable {
  background-color: $white;
  width: 100%;
  font-weight: 600;
  table-layout: fixed;
  tr {
    height: 57px;
    border-bottom: 1px solid $table-line-color;
    &:hover {
      td {
        background-color: $select-button-hover-bg-color;
      }
    }
  }
  th {
    padding: 0 15px;
    color: $text-light-color !important;
    border-bottom: none !important;
    position: relative;
  }
  td {
    height: 75px;
    padding: 0 15px;
    vertical-align: middle !important;
    border-top: none !important;
    border-bottom: none !important;
    &:first-child {
      padding-left: 20px;
      @include border-radius-separate(6px, 0, 6px, 0);
    }
    &:last-child {
      @include border-radius-separate(0, 6px, 0, 6px);
    }
  }
  tbody {
    color: $table-text-color;
  }
  tbody:last-child tr {
    display: none;
    border-bottom: none !important;
  }
  thead {
    color: $table-header-text-color;
    background-color: $table-header-bg-color;
    font-family: 'Open Sans';
    tr:first-child {
      height: 39px;
      th:first-child {
        padding-left: 20px;
      }
      th {
        font-weight: 600;
      }
      th:after {
        display: block;
        width: 1px;
        height: 30%;
        background: #e7e9ed;
        content: ' ';
        position: absolute;
        top: 35%;
        right: 0;
        vertical-align: middle;
      }
      th:nth-last-child(2):after {
        display: none;
      }
      th:last-child:after {
        display: none;
      }
      th:last-child{
        border-left: 1px solid $table-line-color;
      }
    }
    tr {
      border-bottom: none;
    }
  }
}

.loadingSpinner {
  @include full-size;
  background-color: white;
  opacity: .5;
  display: none;
}
.sortedCell {
  position: relative;
  padding-right: 20px !important;
}
.sortIcon {
  position: absolute;
  right: 5px;
  display: block;
  line-height: 1;
  @include vcenter;
}
