@import './mixins';
@import './variables';

.sectionTitle {
  font-size: 13px;
  font-weight: 700;
  margin: 0;
  @include clearfix;
}
.titleDescription {
  font-size: 12px;
  margin: 0;
}
.popoverIcon {
  cursor: pointer;
  margin-left: 5px;
  &:active:focus,
  &:hover:focus,
  &:focus {
    outline: none;
  }
  &:hover, &:active {
    color: #000;
  }
}