.settingsContainer {
  margin-top: 30px;
  > .fullHeightContainer {
    display: table-cell;
    vertical-align: top;
    &.leftNavContainer {
      width: 273px;
      padding-top: 40px;
      background: #ECF4FB;
    }
    &.childContentsContainer {
      display: table-cell;
    }
  }
}