@import './mixins';
@import './variables';

.settingsContainer {
  margin-top: 30px;
}
.childContentsContainer {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .childContentsContainer {
    margin-left: 5%;
    width: 90%;
  }
}
