@import './mixins';
@import './variables';

.spinnerWrapper {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}
.spinnerWrapper.lg {
  font-size: 40px;
}
.spinnerWrapper.md {
  font-size: 16px;
}
.spinnerWrapper.sm {
  font-size: 12px;
}
.spinnerPositioner {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.5em;
  margin-top: -0.5em;
}

.spinner {
  text-indent: -9999em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #838b97;
  background: -moz-linear-gradient(left, #ccc 10%, rgba(131,139,151, 0) 50%);
  background: -webkit-linear-gradient(left, #ccc 10%, rgba(131,139,151, 0) 50%);
  background: -o-linear-gradient(left, #ccc 10%, rgba(131,139,151, 0) 50%);
  background: -ms-linear-gradient(left, #ccc 10%, rgba(131,139,151, 0) 50%);
  background: linear-gradient(to right, #ccc 10%, rgba(131,139,151, 0) 50%);
  position: relative;
  @include transform(translateZ(0));
  @include animation(load3 1.4s infinite linear);
}
.spinner.primary {
  background: -moz-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 50%);
  background: -webkit-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 50%);
  background: -o-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 50%);
  background: -ms-linear-gradient(left, $white 10%, rgba(131,139,151, 0) 50%);
  background: linear-gradient(to right, $white 10%, rgba(131,139,151, 0) 50%);
}

.spinner:before {
  width: 50%;
  height: 50%;
  background: #ccc;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner.primary:before {
  background: $white;
}
.spinner-after {
  background: $white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  @include full-size;
}
@include keyframes (load3) {
  0% {
    @include rotate(0);
  }
  100% {
    @include rotate(360);
  }
}

