@import './mixins';
@import './variables';
$slt-header-bg-color:       #ECF4FB;
$slt-header-text-color:     #1C4468;
$slt-border-color:          rgba(204, 204, 204, .3);

.formsList {
  margin-top: 25px;
}
.formsListInner {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  font-size: 12px;
}

.actionsWrapper {
  text-align: right;
  margin-bottom: 3px;
}

.columnID {
  width: auto;
  max-width: 15%;
}
.columnName {
  width: 30%;
  font-weight: 700;
}
.columnCreatedBy {
  width: auto;
  max-width: 15%;
  text-align: center;
}
.columnCreated {
  width: auto;
  max-width: 10%;
}
.columnStatus {
  width: auto;
  max-width: 10%;
  text-align: center;
}
.columnActions {
  width: auto;
  max-width: 20%;
  border-left: 1px solid $table-line-color;
}

.widgetPanel {
  width: 100%;
  border: 1px solid $table-border-color;
  @include border-radius(5px);
  background-color: $white;
  float: left;
  font-size: 12px;
}