@import './mixins';
@import './variables';

$frontend-bg-start-color:       #ffffff;
$frontend-bg-end-color:         #f4f5f8;

$bottom-content-color:          $frontend-text-color3;
.wrapper {
  height: 100%;
  font-family: 'Lato', sans-serif;
  @include media('>=sm') {
    @include background-gradient($frontend-bg-start-color, $frontend-bg-end-color);
  }
}
.submitButtonsArea {
  padding-top:30px;
}
.contentWrapper {
  height: calc(100% - #{$frontend-header-height-mobile});
  @include media('>=sm') {
    height: calc(100% - #{$frontend-header-height + $frontend-footer-height});
  }
}
.contentWrapperInner {
  height: 100%;
  position: relative;
  @include media('>=sm') {
    background-color: white;
    @include border-radius(5px);
    @include box-shadow-custom(0 0 15px rgba(0, 0, 0, .03));
    border: 1px solid $frontend-border-color;
  }
}
.bottomLogoWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .4;
  text-align: right;
  color: $bottom-content-color;
  padding: 15px;
  font-size: 12px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  @include media('<sm') {
    display: none;
  }
}
.bottomLogo {
  margin-left: 8px;
  padding-bottom: 3px;
  vertical-align: middle;
  display: inline-block;
}