@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.formSection {
  background-color: #fefefe;
  position: relative;
  &.active {
    border-bottom: 2px solid $border-color;
    background-color: $bg-color1;
    .formSectionInner {
      padding: 65px 75px 130px 75px;
    }
    .step {
      width: 72px;
      height: 72px;
      line-height: 70px;
      font-size: 16px;
      top: 40px;
      left: -36px;
    }
  }
}
.formSectionInner {
  padding: 10px 75px;
}
.step {
  background-color: $bg-color2;
  font-weight: 300;
  text-align: center;
  @include border-radius(50%);
  z-index: 300;
  border: 1px solid $border-color;
  color: $text-color;
  position: absolute;
  top: 10px;
  left: -12px;
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 16px;
}
