@import './mixins';
@import './variables';

.questionRichTextEditor {
  @include clearfix;
}

.editWidget {
  width: 100%;
  float: left;
  background-color: #fff;
  letter-spacing: 1px;
  border: solid 1px #c7c7c7;
  padding: 10px;
}

.block {
  display: inline-block;
  background: #bfe0f7;
  padding: 3px 10px;
  border-radius: 3px;
  border: solid 1px;
}

.toolbar {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 10px;
}

.titleWidget {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
.inputWidget {
  display: table-cell;
  width: 30%;
  padding: 0px 5px 0 0;
  vertical-align: middle;
}

.styleWidget {
  display: table-cell;
  width: 70px;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  li {
    float: left;
    padding-right: 5px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.answersDropdown {
  display: block;
}

.dropdownAnswerButton {
  display: block;
  width: 100%;
  float: none !important;
}

.squareButton {
  width: 20px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}