@import './mixins';
@import './variables';

$qrt-border-color: #d5d5d5;
$qrt-toolbutton-color: #7a7a7a;
$qrt-toolbutton-bg-color: #dfdfdf;

.questionRichTextEditor {
  @include clearfix;
}

.editWidget {
  width: 100%;
  float: left;
  background-color: #fff;
  border: solid 1px $qrt-border-color;
  @include border-radius(4px);
  padding: 7px 10px 8px;
  font-size: 14px;
}

.block {
  display: inline-block;
  background: #bfe0f7;
  padding: 3px 10px;
  border-radius: 3px;
  border: solid 1px;
}

.toolbar {
  width: 100%;
  margin-bottom: 10px;
  @include clearfix;
}

.titleWidget {
  float: left;
  width: 50%;
  padding-top: 5px;
  vertical-align: middle;
}

.buttonsWidget {
  float: right;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    float: left;
    padding-right: 5px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.answersDropdown {
  display: block;
}

.dropdownAnswerButton,
.squareButton {
  background-color: $qrt-toolbutton-bg-color;
  color: $qrt-toolbutton-color;
  border: none;
  height: 24px;
  @include border-radius(4px);
  &:focus, &:active:focus, &:hover:focus {
    outline: none;
  }
  &:hover, &:focus {
    background-color: darken($qrt-toolbutton-bg-color, 5%);
  }
}

.dropdownAnswerButton {
  display: block;
  margin-left: auto !important;
  float: none !important;
  padding-left: 5px;
  padding-right: 5px;
}

.squareButton {
  width: 24px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}