@import './mixins';
@import './variables';

$qrt-border-color: #d5d5d5;
$qrt-toolbutton-text-color: $panel-text-color1;
$qrt-toolbutton-bg-color: #ffffff;

.questionRichTextEditor {
  @include clearfix;
}

.editWidget {
  width: 100%;
  float: left;
  background-color: #fff;
  border: solid 1px $qrt-border-color;
  @include border-radius(4px);
  padding: 7px 10px 8px;
  font-size: 14px;
}

.block {
  display: inline-block;
  background: #bfe0f7;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 3px;
  border: solid 1px;
  cursor: default;
}

.toolbar {
  width: 100%;
  margin-bottom: 10px;
  @include clearfix;
}

.titleWidget {
  float: left;
  width: 50%;
  padding-top: 5px;
  vertical-align: middle;
}

.buttonsWidget {
  float: right;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    float: left;
    padding-right: 7px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.answersDropdown {
  display: block;
  ul {
    min-width: 100px;
    max-width: 156px;
    a {
      padding: 5px 0;
      margin: 0 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.dropdownAnswerButton,
.squareButton {
  background-color: $qrt-toolbutton-bg-color;
  color: $qrt-toolbutton-text-color;
  border: none;
  height: 24px;
  @include box-shadow-custom(0 1px 1px rgba(0, 0, 0,.2));
  @include border-radius(4px);
  @include transition(all .15s);
  &:focus, &:active:focus, &:hover:focus {
    outline: none;
    background-color: $qrt-toolbutton-bg-color;
  }
  &:hover, &:focus {
    background-color: $qrt-toolbutton-bg-color;
    @include box-shadow-custom(0 1px 5px rgba(0, 0, 0,.4));
  }
}

.dropdownAnswerButton {
  display: block;
  margin-left: auto !important;
  float: none !important;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 10px;
}

.squareButton {
  width: 24px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
