@import './mixins';
@import './variables';

$formbuilder-bg-color: #4A9DD5;
$panel-bg-color: #ECF4FB;
$panel-border-color: #086DB6;

.formBuilderContainer {
  background-color: $formbuilder-bg-color;
  min-height: 100%;
  padding: 20px;
  @include media('>=md') {
    height: 100%;
  }
}

.leftPanel {
  background-color: $panel-bg-color;
  border: 1px solid $panel-border-color;
  padding: 15px;
  @include border-radius(2px);
  @include media('>=md') {
    width: calc(50% - 10px);
    float: left;
    height: 100%;
  }
}
.rightPanel {
  background-color: $panel-bg-color;
  border: 1px solid $panel-border-color;
  padding: 15px;
  @include border-radius(2px);
  @include media('>=md') {
    width: calc(50% - 10px);
    float: right;
    height: 100%;
  }
}