@import './mixins';
@import './variables';
$slt-header-bg-color:     	#ECF4FB;
$slt-header-text-color:     #1C4468;
$slt-border-color:          rgba(204, 204, 204, .3);

.submissionsList {
  height: 100%;
}
.submissionsListInner {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  font-size: 12px;
}

.columnID {
  width: auto;
}
.columnName {
  width: auto;
}
.columnProgress {
  width: auto;
}
.columnPercent {
  width: auto;
}
.columnAuthor {
  width: auto;
}
.columnChanel {
  width: auto;
}
.columnCreated {
  width: auto;
}
.columnStatus {
  width: auto;
}
.columnType {
  width: auto;
}
.columnLanguage {
  width: auto;
}
.columnDuration {
  width: auto;
}
.columnContactInfo {
  width: auto;
}
