@import './mixins';
@import './variables';


.submissionsTable {
  background-color: $white;
  width: 100%;
  font-weight: 600;
  thead {
    color: $table-header-text-color;
    background-color: $table-header-bg-color;
    font-family: 'Open Sans';
    tr:first-child {
      th {
        font-weight: 500;
      }
      th:after {
        display: block;
        width: 1px;
        height: 20px;
        background: $table-border-color;
        content: ' ';
        position: absolute;
        top: 8px;
        right: 0px;
      }
      th:nth-last-child(2):after {
        display: none;
      }
      th:last-child:after {
        display: none;
      }
      th:last-child{
        border-left: 1px solid $table-border-color;
      }
    }
  }
  th {
    padding: 10px 15px;
    word-wrap: break-word;
    color: $text-light-color !important;
    border-bottom: none !important;
    position: relative;
  }
  td {
    height: 0;
    padding: 20px 15px;
    vertical-align: middle !important;
    border-top: none !important;
    border-bottom: none !important;
    &:first-child {
      @include border-radius-separate(6px, 0, 6px, 0);
    }
    &:last-child {
      @include border-radius-separate(0, 6px, 0, 6px);
    }
  }
  tr {
    border-bottom: 1px solid $table-border-color;
    &:hover {
      td {
        background-color: $select-button-hover-color;
      }
    }
  }
  tbody {
    color: $table-text-color;
  }
  tbody:last-child tr {
    display: none;
    border-bottom: none !important;
  }
}
