.settingsContainer {
  display: table;
  width: 100%;
  height: 100%;
  > .fullHeightContainer {
    display: table-cell;
    vertical-align: top;
    &.leftNavContainer {
      width: 273px;
      padding-top: 40px;
      background: #ECF4FB;
    }
    &.childContentsContainer {
      display: table-cell;
    }
  }
}