@import './mixins';
@import './variables';

.textInput {
  padding: 15px 20px;
  border: 1px solid $cf-input-border-color;
  @include border-radius($input-border-radius);
  font-size: 20px;
  background: $white;
  width: 100%;
  color: $cf-input-text-color;
  resize: none;
  @include input-box-shadow;
  &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
    color: $cf-input-placeholder-color;
  }
}

.textInput:hover, .textInput:active, .textInput:focus {
  outline: none;
}
