@import './mixins';
@import './variables';

.header {
  padding: 16px 0;
  background-color: $dashboard-header-bg-color;
  z-index: 400;
  position: relative;
  height: $dashboard-header-height;
  @include clearfix;
}

.logo {
  position: absolute;
  @include hcenter;
}

.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}
