@import './mixins';
@import './variables';

.tree {
  position: relative;
  overflow: hidden;
  @include user-select(none);
}

.draggable {
  position: absolute;
  opacity: 0.8;
  @include user-select(none);
}

.node {
  &.placeholder > * {
    visibility: hidden;
  }

  &.placeholder {
    position: relative;
    &:before {
      content: '';
      border: 1px dashed #ccc;
      @include full-size;
      z-index: 0;
      cursor: pointer;
    }
  }
  .inner {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    z-index: 1;
  }

  .collapse {
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  .caretRight:before {
    content: '\25B8';
  }

  .caretDown:before {
    content: '\25BE';
  }
}
