.idVerificationModal {
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.modalHeader {
  padding: 30px 40px 0;
  border-bottom: none;
}

.modalBody {
  padding: 0;
  margin-top: 25px;
  overflow: hidden;
}