@import './mixins';
@import './variables';

.switchRow {
  overflow: hidden;
}

.switchColLeft {
  float: left;
}
.switchColRight {
  float: right;
}
.configInputRow {
  margin-top: 8px;
}

.hide {
  display: none;
}