@import './mixins';
@import './variables';

$frontend-bg-start-color:       #ffffff;
$frontend-bg-end-color:         #f4f5f8;

.formCompletion {
  position: relative;
  text-align: center;
  flex: 1;
  @include media('>=sm') {
    padding: 30px;
    padding: 40px 40px 85px;
  }
  @include media('>=md') {
    padding: 65px 65px 95px;
  }
}
.thankMessage {
  letter-spacing: 2px;
  margin-top: 20px;
  color: $form-completion-title-color;
  font-size: 14px;
  font-weight: 900;
}
.formTitle {
  margin-bottom: 36px;
  font-weight: 300;
  font-size: 36px;
}
.instruction {
  padding-top: 10px;
  margin: 10px;
}
.downloadButton {
  padding: 12px 28px;
  margin: 20px 0 30px 0;
  border: none;
  background-color: $form-completion-title-color;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}
.learnMoreButton {
  margin: 0 4px;
  color: $frontend-text-color1;
  text-decoration: underline;
  font-size: 16px;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $frontend-text-color1;
  }
}
.envSavingSection {
  margin-top: 30px;
}
.socialSharingWrapper {
  display: inline-block;
  margin: 0 20px;
}
.divider {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 24px;
  background-color: $border-color;
}
.bottomLogoWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .4;
  text-align: right;
  color: $frontend-text-color3;
  padding: 15px;
  font-size: 12px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  @include media('<sm') {
    display: none;
  }
}
.bottomLogo {
  margin-left: 8px;
  padding-bottom: 3px;
  vertical-align: middle;
  display: inline-block;
}