@import './mixins';
@import './variables';

.modalWrapper {
  top: 20%;
  @include media('<xs') {
    top: 50%;
    @include transform(translateY(-50%) !important);
  }
}
.sendFormLinkModal {
  text-align: center;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
}
.sendFormLinkModalWrapper {
  padding: 30px 40px;
  @include media('<xs') {
    padding: 10px;
  }
}
.modalHeader {
  font-family: 'roble_alt_boldbold';
  margin: 0;
  margin-top: 50px;
  @include media('<xs') {
    margin-top: 0;
    padding: 40px;
    padding-bottom: 0;
  }
}
.closeModalButton {
  @include media('>=xs') {
    display: none;
  }
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  &:focus {
    outline: none;
  }
}
.info {
  font-weight: 400;
  font-size: 14px;
  color: $signature-modal-info-color;
}
.input {
  width: 100%;
  margin-top: 25px;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
  color: $signature-modal-info-color;
  @include border-radius(6px);
  border: 1px solid $border-color;
  &:focus {
    outline: none;
  }
}

.buttonWrapper {
  margin-bottom: 10px;
}
.errorMessage {
  color: $red;
  line-height: 40px;
}
.sendButton {
  width: 100%;
  font-family: 'roble_altregular';
  margin-top: 25px;
}
.cancelButton {
  font-size: 16px;
  font-weight: 300;
  padding: 6px 0;
  color: $signature-modal-text-light-color;
  text-decoration: underline;
  &:active, &:focus {
    outline: 0;
  }
  &:hover {
    color: $signature-modal-text-light-color;
  }
  @include media('<xs') {
    display: none;
  }
}
.errorMessage {
  color: $red;
  line-height: 40px;
}
