@import './mixins';
@import './variables';

.textInputWrap {
  font-size: 24px;
  display: inline-block;
  line-height: 1.5em;
  color: $float-input-color;
  position: relative;
  padding: 0.5em 0;
}
.textInput {
  width: 100%;
  box-sizing: border-box;
  color: $float-input-color;
  font-size: 1em;
  line-height: 1.2em;
  padding: 0.5em 1em;
  line-height: 1.5em;
  border: 2px solid $float-input-color;
  @include border-radius(0.3em);
  background-color: inherit;
  &:focus {
    outline: none;
  }
}
.textInputLabel {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1em;
  padding: 2px;
  background-color: $white;
  transition: all .3s ease-in-out;
}
.filled {
  margin-left: -0.5em;
  padding: 1px 0.5em;
  top: 0.5em;
  left: 2em;
  font-size: 0.5em;
  line-height: 1em;
}
.isError {
  color: $red;
}
.isErrorInput {
  border-color: $red;
}
.filledInput {
  color: $black;
}
.errorIconWrapper {
  display: inline;
  cursor: pointer;
  color: $red;
  position: absolute;
  right: 1em;
  top: 1em;
}
.hide {
  display: none;
}
.errorTip{
  position: absolute;
  left: 50%;
  line-height: 1em;
  font-size: 0.6em;
}
.errorTipInner{
  position: relative;
  top: 7px;
  left: -50%;
  padding: 1.5em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: $red;
  @include border-radius(0.4em);
}
.errorTipArrow {
  position: absolute;
  top: 2px;
  left: 0;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: $red;
}

