@import './mixins';
@import './variables';

$dashboard-button-height:         36px;
$dashboard-button-bg-color:       #d6d6d6;
$dashboard-button-color:          #7a7a7a;
$dashboard-button-border-color:   #7b7b7b;

.dashboardButton {
  @include border-radius(4px);
  cursor: pointer;
  height: $dashboard-button-height;
  padding: 1px 25px;
  @include transition(color .15s, background-color .15s);
  color: $dashboard-button-color !important;
  position: relative;
  font-family: 'roble_alt_boldbold';
  font-size: 14px;
  line-height: 1;

  &.solid {
    border: none;
    background: $dashboard-button-bg-color;
    &:hover, &:focus {
      background-color: lighten($dashboard-button-bg-color, 3%);
    }
    &[disabled] {
      opacity: .5;
      background: $dashboard-button-bg-color !important;
      border: none !important;
    }
  }
  &.outline {
    border: 2px solid $dashboard-button-border-color;
    background-color: transparent;
    &:hover, &:focus {
      background-color: $dashboard-button-bg-color;
    }
    &[disabled] {
      opacity: .5;
      border: 2px solid $dashboard-button-border-color !important;
      background-color: transparent !important;
    }
  }

  &[disabled] {
    opacity: .5;
  }
  &:active {
    &, &:hover, &:focus {
      outline: none;
    }
  }
}

.notificationCounter {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 18px;
  height: 18px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  @include border-radius(50%);
  border: 1px solid white;
  background-color: #FF6600;
  text-align: center;
}
