@import '../../../styles/mixins';
@import '../../../styles/variables';

.textEmail {
  padding: 4px 15px;
  border: 1px solid $text-border-color;
  border-radius: 4px;
  font-size: 20px;
  height: 54px;
  width: 389px;
  background: $text-bg-color;
}

.textEmail:hover, .textEmail:active, .textEmail:focus {
  border: 1px solid $text-hover-border-color;
  outline: none;
}

.emailDesc {
  background: #C3EEF8;
  border-radius: 3px;
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 5px;
  > span {
    background: #ffffff;
    border-radius: 3px;
    padding: 3px 3px;
  }
}