.questionRow {
  margin-top: 15px;
  margin-bottom: 15px;
}
.question {
  font-size: 18px;
  font-weight: 500;
}
.answer {
  font-size: 18px;
  img {
  	max-width: 100%;
  	height: auto;
  }
}
.choiceItem {
  margin-bottom: 10px;
}