$header-bg-color:   #ededed;
$builderheader-bg-color:#ededed;

$text-color:        #7b7b7b;
$text-dark-color:   #333;
$text-light-color:  #999;

$button-default-bg-color: #d6d6d6;
$button-default-border-color: darken($button-default-bg-color, 1%);
$button-default-text-color: $text-color;

$bg-color1:         #fff;
$bg-color2:         #fafafa;

$border-color:              #e6ebed;

$shadow-color:              #bbb;
$table-border-color:        #bbb;

// Form Fields
$input-color:               #333;
$button-color:              #4DCCEB;
$headerbutton-bg-color:     #4A9DD5;
$button-border-color:       #C6EFF8;
$headerbutton-border-color: #68ADDB;
$text-border-color:         #A9A9A9;
$text-bg-color:             #F8F8F8;
$text-hover-border-color:   #888;

$dashboard-text-color:      #7b7b7b;
$dashboard-bg-color:        #4A9DD5;
$question-edit-separator-color: #797979;
