$blue: #3993d1;
$darkblue: #2c3744;
$paleblue: #f3faff;
$grayblue: #eceff2;
$orange: #ff8a00;
$grey: #c0c3c9;
$green: #65b82d;
$white: #FFFFFF;
$red: #d45644;
$black: #000000;

$header-bg-color: $blue;

$text-color: $darkblue;
$text-dark-color:   #333;
$text-light-color:  #79899f;

// orange highlight
$highlight-color: $orange;

// dashboard layout color
$dashboard-header-bg-color: $blue;
$dashboard-bg-color:        $grayblue;
$dashboard-text-color:      #7b7b7b;

// defaultButton component
$button-default-color: $darkblue;
$button-default-border-color: $grey;
$button-default-bg-color: #d6d6d6;

$button-default-bg-start: #fff;
$button-default-bg-end: lighten($grey, 15%);

// headerButton component
$button-header-color: #fff;
$button-header-bg-color: darken($blue, 13%);

// dashboard tabs component
$dashtabs-color: $grey;
$dashtabs-active-color: $blue;
$dashtabs-active-border-color: $blue;

$table-header-bg-color:         #f5f8fa;
$table-header-text-color:       #7f8fa4;
$table-border-color:            #eaeff3;
$table-text-color:              #333c48;
$table-pagination-button-color: #b2c4d3;

$bg-color1:         #fff;
$bg-color2:         #fafafa;


$border-color:              #e6ebed;

$shadow-color:              #bbb;

// purchase darken blue
$blackblue: darken($blue,26%);
$bg-color3: $grayblue;
$darker-bg-color3: darken($grayblue,10%);

// Form Fields
$input-color:               #333;
$float-input-color:         #D0D0D0;
$button-color:              #4DCCEB;
$headerbutton-bg-color:     #4A9DD5;
$button-border-color:       #C6EFF8;
$headerbutton-border-color: #68ADDB;
$text-border-color:         #A9A9A9;
$text-bg-color:             #F8F8F8;
$text-hover-border-color:   #888;

$question-edit-separator-color: #dfdfdf;

$panel-heading-bg-color:    #ffffff;
$panel-body-bg-color:       #f0f4f7;
$panel-border-color:        #dbe5ee;
$panel-heading-text-color:  #313e47;
$panel-text-color1:     #343d46;
$panel-text-color2:     #404952;
$panel-text-color3:     #7e8ea5;
$panel-text-color4:     #a5aab0;

$frontend-text-color1:      #333c48;
$frontend-text-color2:      #7e8186;
$frontend-text-color3:      #848c98;
$frontend-border-color:     #e6e8eb;

$dropdown-bg-color:         #f4f5f8;
$dropdown-border-color:     #eaeaea;
$dropdown-caret-color:      #a2aab3;

$form-completion-title-color: #3191d2;

$select-button-color:         #354052;
$select-button-start-color:   #f4f5f8;
$select-button-end-color:     $white;
$select-button-hover-color:   #f7f9fb;
$select-button-border-color:  #ced0da;

$submission-text-color:   #073660;
$time-text-color:              #848c98;

$choice-bg-color:           #f4f5f8;
$choice-border-color:       #eaeaea;

$id-verification-text-color:  #979a9b;

$identity-form-width:       360px;
$identity-separator-color:  #e1e1e1;
$identity-tab-color:        #3893d0;
$identity-form-text-color:  #949494;
$identity-submit-btn-color: #3191d2;
