@import './mixins';
.circleOutlineButton{
  padding: 0;
  margin: 0;
  text-align: center;
  background: none;
  @include border-radius(100px);
  &:focus{
    outline: none;
  }
  &[disabled]{
    cursor:not-allowed;
  }
}
.buttonLabel{

}