@import './mixins';
@import './variables';

.learnMoreSection {
  width: 230px;
  padding: 10px 0;
  float: right;
  position: absolute;
  right: 5px;
  z-index: 1;
  text-align: center;
  color: $text-color;
}
.lastSection {
  position: relative;
}