
.question-container {
  margin-bottom: 20px;
  > .instruction-text-wrapper {
    > .text {
      font-family: 'roble_alt_boldbold';
      font-size: 23px;
    }
  }
  > .description-text-wrapper {
    > .text {

    }
  }
  > .attachment {

  }
}