@import './mixins';
@import './variables';

.questionContainer {
  margin-bottom: 20px;
}
.instructionTextWrapper {
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: 600;
}
.descriptionTextWrapper {
  color: #494949;
  font-size: 19px;
  > a {
    color: #4DCCEB;
  }
}
.attachment {

}