@import './mixins';
@import './variables';

.dashboardTabs {
  border: none;
  @include border-radius(0);
  display: inline-block;
  margin: 0;
  padding: 0;
  height: $dashboard-header-height;
  font-size: 14px;
  font-family: "roble_alt_boldbold";
}

:global {
  .nav {
    .navItem {
      float: left;
      height: $dashboard-header-height;
      line-height: $dashboard-header-height;
      > a {
        padding: 0 22px;
        color: $dashtabs-color;
        @include transition(color .15s);
      }
      > a:hover, > a:focus {
        color: $white;
        background-color: transparent;
      }
      &.active > a {
        color: $white;
        background-color: $dashtabs-active-color;
      }
    }
  }
}
