.accordion-form {
  position: relative;
}

.flow-line {
  position: absolute;
  z-index: 1;
  border-right: 1px solid #e6ebed;
  border-left: 1px solid #e6ebed;
  height: 100%;
  width: 100%;
  left: 30px; // This variable has to be calculated
}