@import '../../../styles/mixins';
@import '../../../styles/variables';

.textInput {
  padding: 4px 15px;
  border: 1px solid $text-border-color;
  @include border-radius($input-border-radius);
  font-size: 20px;
  height: 64px;
  background: $text-bg-color;
  display: block;
  width: 200px;
  &.fullWidth {
    width: 100%;
  }
  &[disabled] {
    opacity: .5;
  }
}

.textInput:hover, .textInput:active, .textInput:focus {
  border: 1px solid $text-hover-border-color;
  outline: none;
}