@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.formPreview {
  position: relative;
}
.formSteps {
  @include media('>=sm') {
    width: 60%;
  }
  border: 1px solid $border-color;
}