@import './mixins';
@import './variables';

.formPreview {
  position: relative;
  background-color: $dashboard-bg-color;
  padding: 10px;
}
.formSteps {
  @include media('>=sm') {
    width: 60%;
  }
  border: 1px solid $border-color;
}