@import './mixins';
@import './variables';

.idVerificationForm {
  font-size: 14px;
  color: $identity-form-text-color;
}

.wrapper {
  max-width: 360px;
  margin: 0 auto;
}

.tabs {
  margin-top: 25px;
}

.tabsNav {
  > li > a {
    border: none;
  }
}

.navsWrapper {
  border-bottom: 1px solid $identity-separator-color;
}

.tabContent {
  padding: 30px 0 0 0;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

.control {
  box-shadow: none !important;
  border-color: rgba(123, 123, 123, .21);
  padding: 8px 15px;
  height: 38px;
}

:global {
  .idVerification-tabs {
    margin: 0;
    > li {
      list-style: none;
      display: inline-block;
      font-size: 18px;
      > a {
        opacity: .5;
        color: $identity-tab-color;
        text-decoration: none !important;
        padding-bottom: 5px;
        display: inline-block;
      }
      &.active > a, 
      > a:hover, > a:focus {
        opacity: 1;
      }
      &.active > a {
        border-bottom: 2px solid $identity-tab-color;
      }
      &:not(:last-child):after {
        content: 'or';
        opacity: .5;
        color: #8c8c8c;
        margin: 0 25px;
        display: inline-block;
      }
    }
  }
}
