@import './mixins';
@import './variables';

.dashboardTabs {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lighten($blue, 40%);
  @include border-radius(0);
  margin-bottom: 0;
  min-height: auto;
  font-size: 13px;
  font-family: "roble_alt_boldbold";
}

:global {
  .navItem {
    padding-top: 15px;
    margin-bottom: -1px;
    a {
      color: $dashtabs-color !important;
      background: none !important;
      padding: 0px 15px !important;
      height: 33px;
      @include transition(color .15s);
    }
    a:hover, a:focus,
    &.active a {
      color: $dashtabs-active-color !important;
      border-bottom: 4px solid $dashtabs-active-border-color;
    }
  }
}
