@import './mixins';
@import './variables';

.header {
  padding: 16px 0;
  background-color: $builderheader-bg-color;
  z-index: 400;
  position: relative;
  @include clearfix;
}

.logo {
  float: left;
  /*position: absolute;
  @include hcenter;*/
}

.leftToolbar {
  float: left;
  padding: 0 20px;
}

.rightToolbar {
  float: right;
}

.profileImage {
  @include border-radius(50%);
  height: 100%;
}
.profileName {
  padding-left: 5px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
