@import './mixins';
@import './variables';

.header {
  padding: 12px;
  background-color: $builderheader-bg-color;
  z-index: 400;
  position: relative;
  @include clearfix;
}

.logo {
  position: absolute;
  @include hcenter;
}

.leftToolbar {
  float: left;
}

.rightToolbar {
  float: right;
}

.profileName {
  padding-left: 5px;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}