@import '../../../styles/variables';

.header {
	height: 65px;
	background-color: $buildheader-bg-color;
	z-index: 400;
	position: relative;
}

.logo {
	position: absolute;
    margin-top: 10px;
    left: calc(50% - 70px);
}
