@import '../../styles/mixins';
@import '../../styles/variables';

.formSection {
	background-color: #fefefe;
	position: relative;
	&.active {
		border-bottom: 2px solid $border-color;
		background-color: $bg-color1;
		.formSectionInner {
			padding: 65px 75px 130px 75px;
		}
		.step {
			width: 72px;
			height: 72px;
			line-height: 70px;
			font-size: 16px;
			top: 40px;
			left: -36px;
		}
	}
}
.formSectionInner {
	padding: 10px 75px;
}
.flowLine {
	@media only screen and (min-width: $md-min-width) {
		position: absolute;
		left: 50%;
		top: 0;
		z-index: 100;
		border-right: 1px solid $border-color;
		border-left: 1px solid $border-color;
		height: 100%;
		margin-left: -($md-min-width / 2 - $md-container-width / 6 - 15);
	}
	@media only screen and (min-width: $lg-min-width) {
		margin-left: -($lg-min-width / 2 - $lg-container-width / 6 - 15);
	}
}
.step {
	background-color: $bg-color2;
	font-weight: 300;
	text-align: center;
	@include border-radius(50%);
	z-index: 300;
	border: 1px solid $border-color;
	color: $text-color;
	position: absolute;
	top: 10px;
	left: -12px;
	width: 25px;
	height: 25px;
	line-height: 23px;
	font-size: 16px;
}
.learnMoreSection {
	width: 230px;
	float: right;
	position: relative;
	z-index: 1;
	text-align: center;
}