@import './mixins';
@import './variables';

.textInput {
  border: 1px solid $grey;
  @include border-radius(4px);
  background-color: $white;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 20px;
  padding: 4px;
  &:focus {
    outline: none;
    border-color: $blue;
    box-shadow: 0 0 5px 1px rgba(red($blue), green($blue), blue($blue), .15);
  }
}
