@import './mixins';
@import './variables';

.inputWrapper {
  position:relative;
  width: 400px;
  margin: 0 auto;
  padding: 40px 0;
  input[type='text'], input[type='password'] {
    background: lighten($grey, 20%);
    &:focus {
      background: #fff;
    }
  }
  .forgotPass {
    font-size: 11px;
    text-align: right;
    padding: 10px 0;
  }
  h2 {
    font-family: "roble_alt_boldbold";
    font-size:25px;
    text-align: center;
    margin: 0 0 40px;
  }
  h4 {
    padding-top:40px;
  }
  .socialIconArea{
    color: $blue;
    margin-left: -4px; // adjust for padding on icon svg
  }
  .submitButtonWrapper {
    margin: 0 0 20px;
  }
  a {
    cursor: pointer;
  }
}
