@import './mixins';
@import './variables';

$button-size:       36px;

.headerButton {
  border: 1px solid $button-default-border-color;
  background: $button-default-bg-color;
  @include border-radius(4px);
  cursor: pointer;
  height: $button-size;
  padding: 1px 12px;
  @include transition(color .15s, background-color .15s);
  color: $button-default-text-color;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  &.noPaddingButton {
    padding: 1px;
  }
  &.squareButton {
    padding: 1px;
    width: $button-size;
  }
  &.iconOnly {
    border: none !important;
    background: none !important;
  }
  &:hover, &:focus {
    opacity: 1;
    background-color: darken($button-default-bg-color, 5%);
    border: 1px solid darken($button-default-border-color, 5%);
    outline: none;
    color: darken($button-default-text-color, 5%);
  }
  &[disabled] {
    opacity: .5;
    background: $headerbutton-bg-color !important;
    border: 1px solid $headerbutton-border-color !important;
  }
  &:active {
    &, &:hover, &:focus {
      background-color: $button-default-text-color;
      border: 1px solid $button-default-text-color;
      outline: none;
      color: #fff;
    }
  }
}

.notificationCounter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  @include border-radius(50%);
  border: none;
  background-color: $highlight-color;
  text-align: center;
  color: #fff;
}
