@import './mixins';
@import './variables';

$button-size:       38px;

.headerButton {
  border: none;
  background: $orange;
  @include border-radius(4px);
  cursor: pointer;
  height: $button-size;
  padding: 1px 12px;
  margin-left: 10px !important;
  @include transition(color .15s, background-color .15s);
  color: #fff;
  position: relative;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  font-family: "roble_alt_boldbold";
  &.noPaddingButton {
    padding: 1px;
  }
  &.squareButton {
    padding: 1px;
    width: $button-size;
  }
  &.iconOnly {
    border: none !important;
    background: none !important;
  }
  &:hover, &:focus {
    opacity: 1;
    background-color: darken($orange, 5%);
    color: #fff;
    outline: none;
  }
  &[disabled] {
    opacity: .5;
    background: $headerbutton-bg-color !important;
  }
  &:active {
    &, &:hover, &:focus {
      background-color: lighten($orange, 5%);
      color: #fff;
      outline: none;
    }
  }
}

.notificationCounter {
  position: absolute;
  top: 0;
  left: 50%;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0;
  @include border-radius(50%);
  border: none;
  background-color: $orange;
  text-align: center;
  color: #fff;
}
