@import './mixins';
@import './variables';

$button-color: #3392d4;

.socialShareWrapper {
  display: inline-block;
  line-height: 32px;
  vertical-align: bottom;
}
.socialShareButton {
  display: inline-block;
  color: $white;
  background-color: lighten($button-color, 25%);
  cursor: pointer;
  margin: 0 10px;
  width: 26px;
  height: 26px;
  @include border-radius(14px);
  &:hover {
    background-color: $button-color;
  }
}