@import './mixins';
@import './variables';

.interactiveContainer {
  @include clearfix;
  align-self: center;
  &:after {
    clear:both;
  }
}

.leftColumn {
  float: left;
  width: 400px;
}
.rightColumn {
  margin-left: 20px;
  float: left;
}
.topColumn {
  margin-bottom: 20px;
  max-width: 600px;
}
.bottomColumn {
  max-width: 600px;
}
.noneColumn {
  display: none;
}
.inlineLeft {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.inlineRight {
  display: inline-block;
  vertical-align: middle;
}

.validatiorTransition {
  transition: all .3s;
}