@import '../../../styles/mixins';
@import '../../../styles/variables';

.interactiveContainer {
  overflow: hidden;
  &:after {
    clear:both;
  }
  > .leftColumn {
    float: left;
  }
  > .rightColumn {
    margin-left: 25px;
    float: left;
  }
}