@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

$items-v-padding:           5px;
$items-active-v-padding:    30px;
$nav-hover-color:           #000;
.formSection {
  background-color: #fefefe;
  position: relative;
  .step {
    width: 72px;
    height: 72px;
    line-height: 70px;
    font-size: 16px;
    top: $items-active-v-padding;
    left: -36px;
  }
}
.formSectionDown {
  background-color: rgba(240, 240, 240, 0.42);
  .formLink{
    
  }
}
.formLinkArea{
  position: absolute;
  top: 79px;
  a{
    padding-right: 80px;
    cursor: pointer;
    text-decoration: none;
    color: #5cbcf1;
  }
}
.container{
  padding: 15px;
}

.formSectionInner {
  padding: $items-v-padding 0;
}
.step {
  background-color: $bg-color2;
  font-weight: 300;
  text-align: center;
  @include border-radius(50%);
  z-index: 300;
  border: 1px solid $border-color;
  color: #3bb562;
  position: absolute;
  top: $items-v-padding;
  left: -12px;
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 16px;
  @include media('<md') {
    display: none;
  }
}

.formSectionTitle {
  color: $text-dark-color;
  margin: 0;
  font-size: 23px;
  font-weight: 600;
  line-height: 30px;
  padding: 30px 0px 0px;
}
.formSectionPargraphA{
  padding: 25px 0px 10px 0px;
}
.formSectionPargraphB{
  padding: 30px 0px 10px 0px;
  font-size: 23px;
}
.formImageGridArea{
  margin-top: 10px;
  height: 100px;
}
.formImageGrid{
  float: left;
  margin: 0 60px 0 0;
  text-align: center;
}
.formImage{
  width: 73px;
  height: 43px;
}
.formImageCaption{
  text-align: center;
}
.formImagePoint{
  text-align: center;
  margin-top: 5px;
  font-weight: 700;
}
.socialIconArea{
  color: #41b5f5;
  margin-bottom: 40px;
  svg{
    margin: 0 10px 0 -4px;
  }
}
.formEmailInput{
  width: 300px;
}


.hrLine {
  border-top: 2px solid $border-color;
  margin: 15px 0 0 0;
}

